<h2>Nuevo todo</h2>

<form action="/todos" method="POST">
    <label for="title">Titulo</label>
    <input type="text" name="title">

    <label for="description">Descripcion</label>
    <input type="text" name="description">

    <button type="submit"> Guardar </button>
</form>

<a href="/"> Vover al listado </a>